<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/images/icon/seanforfun.ico">
	<script type="text/javascript" src="/jquery/jquery-2.1.0.js"></script>

    <title>Admin Page</title>

    <!-- Bootstrap core CSS -->
	<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/bootstrap/css/dashboard.css" rel="stylesheet">
    <script type="text/javascript">
    	$(function(){
    		$(".hover-class").hover(function() {
    			$(this).attr("style", "color: #000;background-color:#fff;padding-left: 0px;padding-right: 0px;");
    		}, function() {
    			$(this).attr("style", "color: #fff;background-color:#343A40;padding-left: 0px;padding-right: 0px;");
    		});
    		
    		$("#github").click(function(){
    			window.location.href="https://github.com/Seanforfun";
    		})
    	})
    	
    	function modifyBlog(obj){
    		window.location.href="/admin/toWrite/" + $(obj).attr("id");
    	}
    	
    	function publishBlog(obj){
    		window.location.href="/article/publish/" + $(obj).attr("id");
    	}
    	
    	function deleteBlog(obj){
    		window.location.href="/article/delete/" + $(obj).attr("id");
    	}
    	
    	function openFile(){
    		$("#btn_file").click();
    	}
    	
    	function uploadFile(){
    		var suffixs = ["jpg", "png", "bmp", "jpeg"];
    		var files = document.getElementById('btn_file').files;
    		if(files.length == 0){
    			return;
    		}
    		var filename = files[0].name;
    		var iDot = filename.lastIndexOf(".");
			var type = filename.substring(iDot + 1);
			if(!suffixs.includes(type)){
				alert(filename + " is not a image file");
			}
			var form = new FormData();
			form.append("image", files[0]);
			
			var imageInfo = null;
			$.ajax({
				  async: false,
				  crossDomain: true,
				  url: "https://api.imgur.com/3/image",
				  method: "POST",
				  headers: {
				      "Authorization": "Client-ID 38a56741057799f"
				   },
				   processData: false,
				   contentType: false,
				   mimeType: "multipart/form-data",
				   data: form,
				   success:function(response){
						 obj = JSON.parse(response);
						 var link = obj.data.link;
						 $("img").attr("src", link);
						 imageInfo = link;
				    }
			  });
			$.ajax({
				data:{
					"imageInfo":imageInfo
				},
				url:"/user/image",
				success: function(data){
					alert("success");
				}
			});
    	}
    	
    	function updateUserInfo(){
    		$("form:eq(0)").submit();
    	}
    </script>
  </head>

  <body style="">
    <div th:replace="include/titleAdmin :: titleAdmin"></div>

    <div class="container-fluid">
      <div class="row">
    	<div th:replace="include/categoryAdmin :: categoryAdmin"></div>

        <main class="col-md-11 ml-sm-auto col-lg-11 pt-3 px-4">
	          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
	            <h1 class="h1 font-italic">
	            	<strong>
	            		Admin Information Modify
	            	</strong>
	            </h1>
	            <div class="btn-toolbar mb-2 mb-md-0">
	              <button id="github" class="btn btn-sm btn-outline-secondary">
	                <span data-feather="github"></span>
	                	Seanforfun
	              </button>
	            </div>
	          </div>
	          <div class="row">
	          	<div class="col-9">
		            <form class="was-validated" method="post" action="/user/updateAdminInfo">
		              <input type="hidden" name="id" th:value="${adminInfo?.id}">
					  <div class="form-row">
					    <div class="col-md-4 mb-3">
					       <label for="validationServer01">First name</label>
					      <input type="text" class="form-control is-invalid" id="validationServer01" placeholder="First name" th:value="${adminInfo?.firstName}"  required>
					    </div>
					    <div class="col-md-4 mb-3">
					      <label for="validationTooltip02">Last name</label>
					      <input type="text" class="form-control" id="validationTooltip02" placeholder="Last name" th:value="${adminInfo?.lastName}" required>
					    </div>
					    <div class="col-md-4 mb-3">
					      <label for="validationTooltipUsername">Nickname</label>
					      <div class="input-group">
					        <div class="input-group-prepend">
					          <span class="input-group-text" id="validationTooltipUsernamePrepend">@</span>
					        </div>
					        <input type="text" th:value="${adminInfo?.nickname}" class="form-control" id="validationTooltipUsername" placeholder="Nickname" aria-describedby="validationTooltipUsernamePrepend" required>
					      </div>
					    </div>
					  </div>
					  <div class="form-row">
					    <div class="col-md-4 mb-4">
					      <label for="validationTooltip03">City</label>
					      <input type="text" class="form-control" id="validationTooltip03" placeholder="City" th:value="${adminInfo?.city}" required>
					    </div>
					    <div class="col-md-4 mb-4">
					      <label for="validationTooltip04">State</label>
					      <input type="text" class="form-control" id="validationTooltip04" placeholder="State" th:value="${adminInfo?.province}" required>
					    </div>
					    <div class="col-md-4 mb-4">
					      <label for="validationTooltip05">Country</label>
					      <input type="text" class="form-control" id="validationTooltip05" placeholder="Country" th:value="${adminInfo?.country}" required>
					    </div>
					  </div>
					  <div class="form-row">
					  	<div class="col-md-12 mb-12">
					  		 <label for="validationTooltip05">E-mail</label>
						     <input type="email" class="form-control" id="validationTooltip05" placeholder="Country" th:value="${adminInfo?.email}" required>
					  	</div>
					  </div>
					  <div class="form-row" style="margin-top: 10px;">
					  	<div class="col-md-6 mb-6">
					  		 <label for="validationTooltip07">Bio</label>
					  		<textarea class="form-control" rows="6" style="width: 100%;" required="required" th:text="${adminInfo?.bio}"></textarea>
					  	</div>
					  	<div class="col-md-6 mb-6">
					  		 <label for="validationTooltip08">Introduce</label>
					  		<textarea class="form-control" rows="6" style="width: 100%;" required="required" th:text="${adminInfo?.intro}"></textarea>
					  	</div>
					  </div>
					  <div style="float: right; margin-top: 10px;">
					  	<button class="btn btn-outline-warning" type="submit" onclick="updateUserInfo()">Save</button>
					  </div>
					</form>
				</div>
	          	<div class="col-3">
	          		<img th:src="${adminInfo?.pic}" class="rounded" style="width: 90%;height: 90%;object-fit:cover;">
	          		<input type="file" id="btn_file" style="display:none">
	          		<button type="button" class="btn btn-outline-primary" style="margin-top: 10px; width: 90%;" onclick="openFile()">Select Image</button>
	          		<button type="button" class="btn btn-outline-success" style="margin-top: 10px; width: 90%;" onclick="uploadFile()">Upload Image</button>
	          	</div>
			</div>
        </main>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
	<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="/bootstrap/assets/js/vendor/holder.min.js"></script>

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>
  </body>
</html>
