<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/images/icon/seanforfun.ico">
	<script type="text/javascript" src="/jquery/jquery-2.1.0.js"></script>

    <title>Admin Page</title>

    <!-- Bootstrap core CSS -->
	<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/bootstrap/css/dashboard.css" rel="stylesheet">
    <script type="text/javascript">
    	$(function(){
    		$(".hover-class").hover(function() {
    			$(this).attr("style", "color: #000;background-color:#fff;padding-left: 0px;padding-right: 0px;");
    		}, function() {
    			$(this).attr("style", "color: #fff;background-color:#343A40;padding-left: 0px;padding-right: 0px;");
    		});
    	})
    </script>
  </head>

  <body>
    <div th:replace="include/titleAdmin :: titleAdmin"></div>

    <div class="container-fluid">
      <div class="row">
    	<div th:replace="include/categoryAdmin :: categoryAdmin"></div>

        <main class="col-md-11 ml-sm-auto col-lg-11 pt-3 px-4">
	          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
	            <h1 class="h1 font-italic">
	            	<strong>
	            		Terminal
	            	</strong>
	            </h1>
	            <div class="btn-toolbar mb-2 mb-md-0">
	              <div class="btn-group mr-2">
	                <button class="btn btn-sm btn-outline-secondary">Share</button>
	                <button class="btn btn-sm btn-outline-secondary">Export</button>
	              </div>
	              <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
	                <span data-feather="calendar"></span>
	                This week
	              </button>
	            </div>
	          </div>
			
	         <!-- <canvas class="my-4 col-md-5 ml-sm-auto col-lg-5 pt-3 px-4" id="myChart" width="900" height="380"></canvas> -->
	         <div class="row">
			 <div class="col-md-6">
	           <h2 class="h2 font-italic">
	           		<span data-feather="server" style="width: 30px;height: 30px;margin-bottom: 7px;"></span>
	            	<strong>
	            		Server Information
	            	</strong>
	            </h2>
		          <div class="table-responsive">
		            <table class="table table-striped h6">
		              <thead>
		                <tr>
		                  <th>Name</th>
		                  <th>Value</th>
		                </tr>
		              </thead>
		              <tbody>
		                <tr>
		                  <td>Project Name</td>
		                  <td>
		                  	<th:block th:text="${sysInfo.projectName}"></th:block>
		                  	<th:block th:text="${sysInfo.projectVersion}"></th:block>
		                  </td>
		                </tr>
		                <tr>
		                  <td>Account Name</td>
		                  <td>
		                  	<th:block th:text="${sysInfo.accountName}"></th:block>
		                  </td>
		                </tr>
		                <tr>
		                  <td>Java Version</td>
		                  <td>
		                  	<th:block th:text="${sysInfo.javaVersion}"></th:block>
		                  </td>
		                </tr>
		                <tr>
		                  <td>Operating System</td>
		                  <td>
		                  	<th:block th:text="${sysInfo.os}"></th:block>
		                  	-
		                  	<th:block th:text="${sysInfo.osVersion}"></th:block>
		                  </td>
		                </tr>
		                <tr>
		                  <td>Server Name</td>
		                  <td>
		                  	<th:block th:text="${sysInfo.serverName}"></th:block>
		                  </td>
		                </tr>
		                <tr>
		                  <td>Database Name</td>
		                  <td>
		                  	<th:block th:text="${sysInfo.databaseName}"></th:block>
		                  </td>
		                </tr>
		                <tr>
		                  <td>Database Version</td>
		                  <td>
		                  	<th:block th:text="${sysInfo.databaseVersion}"></th:block>
		                  </td>
		                </tr>
		                <tr>
		                  <td>Database Driver</td>
		                  <td>
		                  	<th:block th:text="${sysInfo.databaseDriverName}"></th:block>
		                  </td>
		                </tr>
		                <tr>
		                  <td>Location</td>
		                  <td>
		                  	<th:block th:text="${sysInfo.country}"></th:block>
		                  </td>
		                </tr>
		                
		              </tbody>
		            </table>
		          </div>
	          </div>
	          
	           <div class="col-md-6">
	           <h2 class="h2 font-italic">
	           		<span data-feather="info" style="width: 30px;height: 30px;margin-bottom: 7px;"></span>
	            	<strong>
	            		Abstract
	            	</strong>
	            </h2>
	          <div class="table-responsive">
	            	
	          </div>
	          </div>
	          </div>
        </main>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
	<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="/bootstrap/assets/js/vendor/holder.min.js"></script>

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>

    <!-- Graphs -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script>
      var ctx = document.getElementById("myChart");
      var myChart = new Chart(ctx, {
        type: 'line',
        data: {
          labels: ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"],
          datasets: [{
            data: [15339, 21345, 18483, 24003, 23489, 24092, 12034],
            lineTension: 0,
            backgroundColor: 'transparent',
            borderColor: '#007bff',
            borderWidth: 4,
            pointBackgroundColor: '#007bff'
          }]
        },
        options: {
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero: false
              }
            }]
          },
          legend: {
            display: false,
          }
        }
      });
    </script>
  </body>
</html>
