<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/images/icon/seanforfun.ico">
	<script type="text/javascript" src="/jquery/jquery-2.1.0.js"></script>
    <title>Login</title>

    <!-- Bootstrap core CSS -->
	<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/bootstrap/css/signin.css" rel="stylesheet">
    <script type="text/javascript">
    	$(function(){
    		
    	})
    </script>
  </head>

  <body style="background-image: url('/images/admin/loginwall.png'); background-repeat:no-repeat; background-size:100% 100%;-moz-background-size:100% 100%;">
  	<div>
	    <form class="text-center form-signin" action="/login" modelAttribute="user" method="post">
	      <img class="mb-4" src="/images/avatar/avatar.jpg" width="72" height="72">
	      <p id="alert" style="color: red;" th:if="${alert != null && alert.message != null}" th:text="${alert.message}"></p>
	      <p th:unless="${alert != null && alert.message != null}"></p>
	      <label for="inputUsername" class="sr-only">Username</label>
	      <input type="text" name="name" id="inputUsername" class="form-control" th:value="${session.loginUser.name}" placeholder="Username" th:if="${session != null && session.loginUser != null}" required autofocus></input>
	      <input type="text" name="name" id="inputUsername" class="form-control" value="" placeholder="Username" th:unless="${session != null && session.loginUser != null}" required autofocus></input>
	      <label for="inputPassword" class="sr-only">Password</label>
	      <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required></input>
	      <div class="checkbox mb-3">
	        <label>
	          <input type="checkbox" name="remember" value="remember"> Remember me</input>
	        </label>
	      </div>
	      <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
	      <p class="mt-5 mb-3 text-muted">Seanforfun&copy; 2018</p>
	    </form>
	 </div>
  </body>
</html>
