<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/images/icon/seanforfun.ico">
    <link rel="stylesheet" href="/bootstrap/css/editormd.min.css"></link>
	<script type="text/javascript" src="/jquery/jquery-2.1.0.js"></script>
	<script src="/js/editormd.min.js"></script>
    <title>Write Blog</title>

    <!-- Bootstrap core CSS -->
	<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/bootstrap/css/dashboard.css" rel="stylesheet">
    <script type="text/javascript">
    	$(function(){
    		$(".hover-class").hover(function() {
    			$(this).attr("style", "color: #000;background-color:#fff;padding-left: 0px;padding-right: 0px;");
    		}, function() {
    			$(this).attr("style", "color: #fff;background-color:#343A40;padding-left: 0px;padding-right: 0px;");
    		});
    		
    		$("#github").click(function(){
    			window.location.href="https://github.com/Seanforfun";
    		});
    	});
    </script>
    <script type="text/javascript">
	  $(function() {
	      editormd("my-editormd", {//注意1：这里的就是上面的DIV的id属性值
	    	  width   : "90%",
	           height  : 640,
	           //markdown : md,
	           codeFold : true,
	           syncScrolling : "single",
	           //你的lib目录的路径
	           path    : "/lib/",
	           imageUpload: false,//关闭图片上传功能
	          /*  theme: "dark",//工具栏主题
	           previewTheme: "dark",//预览主题
	           editorTheme: "pastel-on-dark",//编辑主题 */
	           emoji: false,
	           taskList: true, 
	           tocm: true,         // Using [TOCM]
	           tex: true,                   // 开启科学公式TeX语言支持，默认关闭
	           flowChart: true,             // 开启流程图支持，默认关闭
	           sequenceDiagram: true,       // 开启时序/序列图支持，默认关闭,
	          //这个配置在simple.html中并没有，但是为了能够提交表单，使用这个配置可以让构造出来的HTML代码直接在第二个隐藏的textarea域中，方便post提交表单。
	           saveHTMLToTextarea : true
	      });
	  });
	</script>
  </head>

  <body>
    <div th:replace="include/titleAdmin :: titleAdmin"></div>

    <div class="container-fluid">
      <div class="row">
    	<div th:replace="include/categoryAdmin :: categoryAdmin"></div>

        <main class="col-md-11 ml-sm-auto col-lg-11 pt-3 px-4">
	          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
	            <h1 class="h1 font-italic">
	            	<strong>
	            		Write Blog
	            	</strong>
	            </h1>
	            <div class="btn-toolbar mb-2 mb-md-0">
	              <button id="github" class="btn btn-sm btn-outline-secondary">
	                <span data-feather="github"></span>
	                	Seanforfun
	              </button>
	            </div>
	          </div>
			
	         <div class="row">
	         	<div class="col-md-8 ml-sm-auto col-lg-8 pt-3 px-4">
	         		<div id="my-editormd" >
						<textarea id="my-editormd-markdown-doc" name="my-editormd-markdown-doc" style="display:none;"></textarea>
						<textarea id="my-editormd-html-code" name="my-editormd-html-code" style="display:none;"></textarea>
					</div>
	         	</div>
	         	<div class="col-md-4 ml-sm-auto col-lg-4 pt-3 px-4">
	         	</div>
	    	</div>
        </main>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
	<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="/bootstrap/assets/js/vendor/holder.min.js"></script>

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>
  </body>
</html>
