<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<body>
	<div class="p-3" th:fragment="archives">
		<h4 class="font-italic">Archives</h4>
		<ol class="list-unstyled mb-0">
			<li th:each="month:${months}">
				<a href="javascript:void(0);" th:id="${month.id}" th:text="${month.dateView} + ' ('+${month.articleCount}+')'" onclick="getArchiveArticle(this)"></a>
			</li>
		</ol>
	</div>
</body>
</html>
