<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<body>
		<div id="carouselExampleIndicators" class="carousel slide"
			data-ride="carousel" th:fragment="carousel">
			<ol class="carousel-indicators">
				<li data-target="#carouselExampleIndicators" data-slide-to="0"
					class="active"></li>
				<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
				<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
			</ol>
			<div class="carousel-inner">
				<div class="carousel-item"  th:classappend="${iter.index == 0}?'active':''" th:each="imageArticle, iter:${imageArticles}" th:index="${iter.index}">
					<img class="d-block w-100" th:src="${imageArticle.images[0].path}" height="250px" th:alt="${imageArticle.images[0].id}">
					<div class="carousel-caption d-none d-md-block">
						<a herf="javascript:void(0)" onclick>
							<h3 class="carouselTitle" th:id="${imageArticle.id}" th:text="${imageArticle.title}" style="color:black;cursor:pointer;"></h3>
						</a>
						<p th:text="${imageArticle.abst}" style="color:black;"></p>
					</div>
				</div>
			</div>
			<a class="carousel-control-prev" href="#carouselExampleIndicators"
				role="button" data-slide="prev"> <span
				class="carousel-control-prev-icon" aria-hidden="true"></span> <span
				class="sr-only">Previous</span>
			</a> <a class="carousel-control-next" href="#carouselExampleIndicators"
				role="button" data-slide="next"> <span
				class="carousel-control-next-icon" aria-hidden="true"></span> <span
				class="sr-only">Next</span>
			</a>
		</div>
</body>
</html>
