<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="navigate">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark nav-justified">
			<div class="collapse navbar-collapse" id="navbarTogglerDemo01">
				<ul class="navbar-nav mr-auto">				
					<!-- Single front primary bar -->
					<li class="nav-item dropdown" th:each="pcategory:${pfcategory}" style="display:inline;width: 160px;padding-left: 0">
						<a th:if="${pcategory.key.link != null && pcategory.key.link != ''}" class="nav-link" th:href="${pcategory.key.link}" style="color: #fff" >
							<!-- Need to be fixed to correct value -->
							<img th:if="${pcategory.key.icon} != null" th:src="${pcategory.key.icon}" height="13px" width="13px"></img>
							<img th:unless="${pcategory.key.icon} != null" src="/images/icon/firefox.ico" height="13px" width="13px"></img>
							<strong class="nav-font font-italic" th:text="${pcategory.key.name}"></strong>
						</a>
						<a th:unless="${pcategory.key.link != null && pcategory.key.link != ''}" class="nav-link" href="javascript:void(0);"  style="color: #fff" data-toggle="dropdown">
							<!-- Need to be fixed to correct value -->
							<img th:if="${pcategory.key.icon} != null" th:src="${pcategory.key.icon}" height="13px" width="13px"></img>
							<img th:unless="${pcategory.key.icon} != null" src="/images/icon/firefox.ico" height="13px" width="13px"></img>
							<strong class="nav-font font-italic" th:text="${pcategory.key.name}"></strong>
						</a>
						<!-- TODO Need to add id and find a way to submit the request. -->
						<ul th:if="${pcategory.value != null && not #lists.isEmpty(pcategory.value)}" class="dropdown-menu bg-dark">
							<a th:each="subcategory:${pcategory.value}" class="dropdown-item font-italic" th:link="${subcategory.link}" th:id="${subcategory.id}" style="color: #fff" href="javascript:void(0);">
								<img th:if="${subcategory.icon} != null" th:src="${subcategory.icon}" height="13px" width="13px"></img>
								<img th:unless="${subcategory.icon} != null" src="/images/icon/column.ico" height="13px" width="13px"></img>
								<strong th:text="${subcategory.name}"></strong>
							</a>
						</ul>
					</li>
				</ul>
				<form class="form-inline my-2 my-lg-0">
					<input class="form-control mr-sm-2" type="search"
						placeholder="Search" aria-label="Search">
					<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
				</form>
			</div>
		</nav>
	</div>
</body>
</html>
