<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
<meta name="description" content="Entrance of bog">
<meta name="author" content="Seanforfun">
<link rel="icon" href="/images/icon/seanforfun.ico">
<script type="text/javascript" src="/jquery/jquery-2.1.0.js"></script>
<script type="text/javascript" src="/js/canvas-particle.js"></script>

<title>SeanForFun Blog</title>
<style type="text/css">
.nav-font {
	font-size: 1.2rem;
	text-align: center;
	font: italic;
}

.nav-sub-font {
	font-size: 1.2rem;
	text-align: center;
	color: #fff;
}
</style>
<!-- Bootstrap core CSS -->
<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link
	th:href="@{https://fonts.googleapis.com/css?family=Playfair+Display:700,900}"
	rel="stylesheet">
<link href="/bootstrap/css/blog.css" rel="stylesheet" type="text/css" />

<script type="text/javascript">
	$(function() {
		$(".dropdown-item").hover(function() {
			$(this).attr("style", "color: #000");
		}, function() {
			$(this).attr("style", "color: #fff");
		});

		$(".dropdown-item")
				.on(
						"mousedown",
						function() {
							$(this)
									.attr("style",
											"color: #16181b;text-decoration: none;background-color: #f8f9fa");
						});

		$('#carouselExampleIndicators').carousel({
			interval : 4000
		});

		$(".dropdown-menu").hover(function() {
		}, function() {
			if ($(this).hasClass("show")) {
				$(this).removeClass("show");
			}
		})
		
		$(".blog-post-title").on("click", null, function(){
			var article_id = $(this).attr("id");
			$.ajax({
				url:"/article/" + article_id,				
				success: function(){
				}
			});
		})
	})
</script>
</head>

<body>
	<div id="mydiv">
	<div class="container">
		<div th:replace="include/header :: header"></div>
		<!-- Carousel -->
		<div th:replace="include/carousel :: carousel"></div>
		<br />

		<main role="main" class="container">
		<div class="row">
			<div class="col-md-8 blog-main">
				<!-- Single Post -->
				<div class="blog-post" th:each="article:${articles}">
					<h3 class="blog-post-title" th:text="${article.title}" th:id="${article.id}" style="cursor:pointer;"></h3>
					<p class="blog-post-meta">
						<th:block th:text="${article.lastModifyTimeView}"></th:block>
						&nbspby
						<a href="#" th:text="${article.author.name}"></a>
						<th:block th:each="badge:${article.badges}" th:switch="${badge.colorView}">
							<span th:case="BLUE" class="badge badge-primary" th:text="${badge.name}"></span>
							<span th:case="GREY" class="badge badge-secondary" th:text="${badge.name}"></span>
							<span th:case="GREEN" class="badge badge-success" th:text="${badge.name}"></span>
							<span th:case="RED" class="badge badge-danger" th:text="${badge.name}"></span>
							<span th:case="YELLOW" class="badge badge-warning" th:text="${badge.name}"></span>
							<span th:case="WHITE" class="badge badge-light" th:text="${badge.name}"></span>
							<span th:case="BLACK" class="badge badge-dark" th:text="${badge.name}"></span>
							<span th:case="INFO" class="badge badge-info" th:text="${badge.name}"></span>
						</th:block>
					</p>
					<p th:text="${article.abst}"></p>
				</div>
				<!-- /.blog-post -->

				<nav class="blog-pagination text-center">
					<a class="btn btn-outline-primary" href="#">Older</a> <a
						class="btn btn-outline-secondary disabled" href="#">Newer</a>
				</nav>
			</div>
			<!-- /.blog-main -->

			<!-- Right bar -->
			<aside class="col-md-4 blog-sidebar">
				<div th:replace="include/introduce :: introduce"></div>
				<!-- Archives -->
				<div th:replace="include/archives :: archives"></div>
				<!-- MyLinks -->
				<div th:replace="include/links :: links"></div>
			</aside>

		</div>
		<!-- /.row --> </main>
		<!-- /.container -->

		<div th:replace="include/footer :: footer"></div>

		<!-- Bootstrap core JavaScript
    ================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="/bootstrap/assets/js/vendor/popper.min.js"></script>
		<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="/bootstrap/assets/js/vendor/holder.min.js"></script>
		<script>
			window.jQuery
					|| document
							.write('<script type="text/javascript" src="/jquery/jquery-2.1.0.js"><\/script>')
		</script>
		<script>
			Holder.addTheme('thumb', {
				bg : '#55595c',
				fg : '#eceeef',
				text : 'Thumbnail'
			});
		</script>
	</div>
	</div>
	<script type="text/javascript">
		window.onload = function() {
		    var config = {
		        vx: 4,	
		        vy: 4,	
		        height: 2,
		        width: 2,
		        count: 100,	
		        color: "121, 162, 185", 	
		        stroke: "130,255,255", 		
		        dist: 6000, 	
		        e_dist: 20000, 	
		        max_conn: 10
		    }
		    CanvasParticle(config);
		}
	</script>
</body>
</html>
