<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
<meta name="description" content="Entrance of bog">
<meta name="author" content="Seanforfun">
<link rel="icon" href="/images/icon/seanforfun.ico">
<script type="text/javascript" src="/jquery/jquery-1.8.3.js"></script>
<script type="text/javascript" src="/js/canvas-particle.js"></script>

<title>SeanForFun Blog</title>
<style type="text/css">
.nav-font {
	font-size: 1.2rem;
	text-align: center;
	font: italic;
}

.nav-sub-font {
	font-size: 1.2rem;
	text-align: center;
	color: #fff;
}
</style>
<!-- Bootstrap core CSS -->
<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link
	th:href="@{https://fonts.googleapis.com/css?family=Playfair+Display:700,900}"
	rel="stylesheet">
<link href="/bootstrap/css/blog.css" rel="stylesheet" type="text/css" />

<script type="text/javascript">
	$(function() {
		$(".dropdown-item").hover(function() {
			$(this).attr("style", "color: #000");
		}, function() {
			$(this).attr("style", "color: #fff");
		});

		$(".dropdown-item")
				.on(
						"mousedown",
						function() {
							$(this)
									.attr("style",
											"color: #16181b;text-decoration: none;background-color: #f8f9fa");
						});

		$('#carouselExampleIndicators').carousel({
			interval : 4000
		});

		$(".dropdown-menu").hover(function() {
		}, function() {
			if ($(this).hasClass("show")) {
				$(this).removeClass("show");
			}
		})
	})
</script>
</head>

<body>
	<div id="mydiv">
	<div class="container">
		<div th:replace="include/header :: header"></div>
		<!-- Carousel -->
		<div th:replace="include/carousel :: carousel"></div>
		<br />

		<main role="main" class="container">
		<div class="row">
			<div class="col-md-8 blog-main">
				<div class="blog-post">
					<h3 class="blog-post-title">Sample post</h3>
					<p class="blog-post-meta">
						January 1, 2014 by <a href="#">Seanforfun</a> <span
							class="badge badge-success">New</span>
					</p>
					<p>This blog post shows a few different types of content that's
						supported and styled with Bootstrap. Basic typography, images, and
						code are all supported.</p>
				</div>
				<!-- /.blog-post -->

				<div class="blog-post">
					<h2 class="blog-post-title">Another blog post</h2>
					<p class="blog-post-meta">
						December 23, 2013 by <a href="#">Jacob</a>
					</p>

					<p>
						Cum sociis natoque penatibus et magnis <a href="#">dis
							parturient montes</a>, nascetur ridiculus mus. Aenean eu leo quam.
						Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed
						posuere consectetur est at lobortis. Cras mattis consectetur purus
						sit amet fermentum.
					</p>
				</div>
				<!-- /.blog-post -->

				<div class="blog-post">
					<h2 class="blog-post-title">New feature</h2>
					<p class="blog-post-meta">
						December 14, 2013 by <a href="#">Chris</a>
					</p>
					<p>Cum sociis natoque penatibus et magnis dis parturient
						montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed
						consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce
						dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,
						ut fermentum massa justo sit amet risus.</p>
				</div>
				<!-- /.blog-post -->

				<nav class="blog-pagination text-center">
					<a class="btn btn-outline-primary" href="#">Older</a> <a
						class="btn btn-outline-secondary disabled" href="#">Newer</a>
				</nav>
			</div>
			<!-- /.blog-main -->

			<!-- Right bar -->
			<aside class="col-md-4 blog-sidebar">
				<div th:replace="include/introduce :: introduce"></div>
				<!-- Archives -->
				<div th:replace="include/archives :: archives"></div>
				<!-- MyLinks -->
				<div th:replace="include/links :: links"></div>
			</aside>

		</div>
		<!-- /.row --> </main>
		<!-- /.container -->

		<div th:replace="include/footer :: footer"></div>

		<!-- Bootstrap core JavaScript
    ================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
			integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
			crossorigin="anonymous"></script>
		<script>
			window.jQuery
					|| document
							.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')
		</script>
		<script src="/bootstrap/assets/js/vendor/popper.min.js"></script>
		<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="/bootstrap/assets/js/vendor/holder.min.js"></script>
		<script>
			Holder.addTheme('thumb', {
				bg : '#55595c',
				fg : '#eceeef',
				text : 'Thumbnail'
			});
		</script>
	</div>
	</div>
	<script type="text/javascript">
		window.onload = function() {
		    var config = {
		        vx: 4,	
		        vy: 4,	
		        height: 2,
		        width: 2,
		        count: 100,	
		        color: "121, 162, 185", 	
		        stroke: "130,255,255", 		
		        dist: 6000, 	
		        e_dist: 20000, 	
		        max_conn: 10
		    }
		    CanvasParticle(config);
		}
	</script>
</body>
</html>
